body {
	background: linear-gradient(-45deg, #ffea00, #ffd000, #ffb700, #ffa200, #ff9500, #ff7b00, #ff6000, #ff4800);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
}

#movingButton {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}